<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.core.dao.credit.CreditCardOrderMapper" >
  <resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.CreditCardOrder" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="OPTIMISTIC" property="optimistic" jdbcType="INTEGER" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="USER_NO" property="userNo" jdbcType="VARCHAR" />
    <result column="CRAD_TYPE" property="cradType" jdbcType="VARCHAR" />
    <result column="BUSINESS_CODE" property="businessCode" jdbcType="VARCHAR" />
    <result column="REWARD_AMOUNT" property="rewardAmount" jdbcType="DOUBLE" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
    <result column="CUSTOMER_PHONE" property="customerPhone" jdbcType="VARCHAR" />
    <result column="PROCESS_TIME" property="processTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap type="com.pay.national.agent.model.beans.CreditCardOrderMatchBean" id="MatchResultMap">
  	<id column="USER_ID" property="creditCardUserId" jdbcType="INTEGER"/>
  	<association property="order" javaType="com.pay.national.agent.model.entity.CreditCardOrder">
  		<id column="ID" property="id" jdbcType="INTEGER" />
	    <result column="OPTIMISTIC" property="optimistic" jdbcType="INTEGER" />
	    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
	    <result column="USER_NO" property="userNo" jdbcType="VARCHAR" />
	    <result column="CRAD_TYPE" property="cradType" jdbcType="VARCHAR" />
	    <result column="BUSINESS_CODE" property="businessCode" jdbcType="VARCHAR" />
	    <result column="REWARD_AMOUNT" property="rewardAmount" jdbcType="DOUBLE" />
	    <result column="STATUS" property="status" jdbcType="VARCHAR" />
	    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
	    <result column="CUSTOMER_PHONE" property="customerPhone" jdbcType="VARCHAR" />
	    <result column="PROCESS_TIME" property="processTime" jdbcType="TIMESTAMP" />
	    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  	</association>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OPTIMISTIC, ORDER_NO, USER_NO, CRAD_TYPE, BUSINESS_CODE, REWARD_AMOUNT, STATUS, 
    CREATE_TIME, CUSTOMER_NAME, CUSTOMER_PHONE, PROCESS_TIME, LAST_UPDATE_TIME
  </sql>
 <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from credit_card_order
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from credit_card_order
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pay.national.agent.model.entity.CreditCardOrder" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into credit_card_order (ORDER_NO, USER_NO, 
      CRAD_TYPE, BUSINESS_CODE, REWARD_AMOUNT, 
      STATUS, CREATE_TIME, CUSTOMER_NAME, 
      CUSTOMER_PHONE, PROCESS_TIME, LAST_UPDATE_TIME
      )
    values (#{orderNo,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, 
      #{cradType,jdbcType=VARCHAR}, #{businessCode,jdbcType=VARCHAR}, #{rewardAmount,jdbcType=DOUBLE}, 
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{customerName,jdbcType=VARCHAR}, 
      #{customerPhone,jdbcType=VARCHAR}, #{processTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pay.national.agent.model.entity.CreditCardOrder" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into credit_card_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="optimistic != null" >
        OPTIMISTIC,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="userNo != null" >
        USER_NO,
      </if>
      <if test="cradType != null" >
        CRAD_TYPE,
      </if>
      <if test="businessCode != null" >
        BUSINESS_CODE,
      </if>
      <if test="rewardAmount != null" >
        REWARD_AMOUNT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="customerName != null" >
        CUSTOMER_NAME,
      </if>
      <if test="customerPhone != null" >
        CUSTOMER_PHONE,
      </if>
      <if test="processTime != null" >
        PROCESS_TIME,
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="optimistic != null" >
        #{optimistic,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="cradType != null" >
        #{cradType,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="rewardAmount != null" >
        #{rewardAmount,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null" >
        #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="processTime != null" >
        #{processTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pay.national.agent.model.entity.CreditCardOrder" >
    update credit_card_order
    <set >
      <if test="optimistic != null" >
        OPTIMISTIC = #{optimistic,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        USER_NO = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="cradType != null" >
        CRAD_TYPE = #{cradType,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="rewardAmount != null" >
        REWARD_AMOUNT = #{rewardAmount,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customerName != null" >
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerPhone != null" >
        CUSTOMER_PHONE = #{customerPhone,jdbcType=VARCHAR},
      </if>
      <if test="processTime != null" >
        PROCESS_TIME = #{processTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pay.national.agent.model.entity.CreditCardOrder" >
    update credit_card_order
    set OPTIMISTIC = #{optimistic,jdbcType=INTEGER},
      ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      USER_NO = #{userNo,jdbcType=VARCHAR},
      CRAD_TYPE = #{cradType,jdbcType=VARCHAR},
      BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR},
      REWARD_AMOUNT = #{rewardAmount,jdbcType=DOUBLE},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      CUSTOMER_PHONE = #{customerPhone,jdbcType=VARCHAR},
      PROCESS_TIME = #{processTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findAllOrders" resultMap="BaseResultMap">
  	select ID, OPTIMISTIC, ORDER_NO, USER_NO, CRAD_TYPE, BUSINESS_CODE, REWARD_AMOUNT, STATUS, 
    CREATE_TIME, CONCAT(LEFT(CUSTOMER_NAME,1),'*',SUBSTRING(CUSTOMER_NAME,3)) CUSTOMER_NAME, CONCAT(LEFT(CUSTOMER_PHONE,3),'XXXX',RIGHT(CUSTOMER_PHONE,4)) CUSTOMER_PHONE, PROCESS_TIME, LAST_UPDATE_TIME
  	from credit_card_order 
  	where 1=1
  	and USER_NO = #{query.userNo,jdbcType=VARCHAR}
  	and STATUS <![CDATA[<>]]> 'DELETE'
  	order by CREATE_TIME desc
  </select>
  
 <select id="findApplyOrder" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/>
  	from credit_card_order
  	where CUSTOMER_PHONE = #{customerPhone,jdbcType=VARCHAR}
  	and	BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR}
  	and STATUS = 'APPLY'
  </select>
  
  <select id="match" resultMap="MatchResultMap">
  	select ccu.ID USER_ID,cco.ID, cco.OPTIMISTIC, cco.ORDER_NO, cco.USER_NO, cco.CRAD_TYPE, cco.BUSINESS_CODE, cco.REWARD_AMOUNT, cco.STATUS, 
    cco.CREATE_TIME, cco.CUSTOMER_NAME, cco.CUSTOMER_PHONE, cco.PROCESS_TIME, cco.LAST_UPDATE_TIME
	from credit_card_user ccu 
	join credit_card_order cco 
	on ccu.CARD_TYPE = cco.BUSINESS_CODE 
	and ccu.PHONE_NO = CONCAT(LEFT(cco.CUSTOMER_PHONE ,3),'****',RIGHT(cco.CUSTOMER_PHONE ,4))
	and ccu.USER_NAME = CONCAT(LEFT(cco.CUSTOMER_NAME,1),'*',SUBSTRING(cco.CUSTOMER_NAME,3))
	WHERE ccu.STATUS = 'INIT' and cco.STATUS = 'APPLY'
  </select>
</mapper>