<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.portal.dao.common.AppAdVertiseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.AppAdVertiseInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="OPTIMISTIC" property="optimistic" jdbcType="INTEGER" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="IMAGES_URL" property="imagesUrl" jdbcType="VARCHAR" />
    <result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR" />
    <result column="INDEX_NO" property="indexNo" jdbcType="INTEGER" />
    <result column="ADVERTISE_TYPE" property="advertiseType" jdbcType="VARCHAR" />
    <result column="CLASS_NAME" property="className" jdbcType="VARCHAR" />
    <result column="PROPERTIES" property="properties" jdbcType="VARCHAR" />
    <result column="APP_TYPE" property="appType" jdbcType="VARCHAR" />
    <result column="USE_TYPE" property="useType" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OPTIMISTIC, DESCRIPTION, IMAGES_URL, LINK_URL, INDEX_NO, ADVERTISE_TYPE, CLASS_NAME,
    PROPERTIES, APP_TYPE, USE_TYPE, STATUS, CREATE_TIME
  </sql>

  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from app_advertise_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="findByTypeAndIndexNoAndSta" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from app_advertise_info
    where ADVERTISE_TYPE = #{advertiseType,jdbcType=VARCHAR}
    and INDEX_NO = #{indexNo,jdbcType=INTEGER}
    and APP_TYPE = #{appType,jdbcType=VARCHAR}
    and STATUS = #{status,jdbcType=VARCHAR}
  </select>

  <select id="findAllAdvertise" resultMap="BaseResultMap" parameterType="java.util.Map">
	 select
    <include refid="Base_Column_List" />
    from app_advertise_info
	where 1=1
		<if test="queryParams.advertiseType != null and queryParams.advertiseType != ''  ">
			and ADVERTISE_TYPE  = #{queryParams.advertiseType}
		</if>
		<if test="queryParams.status != null and queryParams.status != ''  ">
			and STATUS  = #{queryParams.status}
		</if>
		<if test="queryParams.appType != null and queryParams.appType != ''  ">
			and APP_TYPE  = #{queryParams.appType}
		</if>
		<if test="queryParams.useType != null and queryParams.useType != ''  ">
			and USE_TYPE  = #{queryParams.useType}
		</if>
	order by
	case when STATUS ='ENABLE' then 1 else 0 end desc, INDEX_NO asc
	</select>

  <insert id="insert" parameterType="com.pay.national.agent.model.entity.AppAdVertiseInfo" >
    insert into app_advertise_info (ID,OPTIMISTIC, DESCRIPTION, IMAGES_URL,
      LINK_URL, INDEX_NO, ADVERTISE_TYPE,CLASS_NAME,PROPERTIES,APP_TYPE,USE_TYPE,
      STATUS, CREATE_TIME)
    values (#{id,jdbcType=VARCHAR},#{optimistic,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{imagesUrl,jdbcType=VARCHAR},
      #{linkUrl,jdbcType=VARCHAR}, #{indexNo,jdbcType=INTEGER}, #{advertiseType,jdbcType=VARCHAR},#{className,jdbcType=VARCHAR},
      #{properties,jdbcType=VARCHAR},#{appType,jdbcType=VARCHAR},#{useType,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="update" parameterType="com.pay.national.agent.model.entity.AppAdVertiseInfo" >
    update app_advertise_info
    set OPTIMISTIC = #{optimistic,jdbcType=INTEGER},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      IMAGES_URL = #{imagesUrl,jdbcType=VARCHAR},
      LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      INDEX_NO = #{indexNo,jdbcType=INTEGER},
      ADVERTISE_TYPE = #{advertiseType,jdbcType=VARCHAR},
      CLASS_NAME=#{className,jdbcType=VARCHAR},
      PROPERTIES=#{properties,jdbcType=VARCHAR},
      APP_TYPE=#{appType,jdbcType=VARCHAR},
      USE_TYPE=#{useType,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
  	  CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>