<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.portal.dao.common.CreditCardUserMapper" >
    <resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.CreditCardUser" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="optimistic" property="optimistic" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="phone_no" property="phoneNo" jdbcType="VARCHAR" />
        <result column="business_code" property="businessCode" jdbcType="VARCHAR" />
        <result column="parent_business_code" property="parentBusinessCode" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, optimistic, user_name, phone_no, business_code, parent_business_code, status,
        create_time, last_update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from credit_card_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from credit_card_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.pay.national.agent.model.entity.CreditCardUser" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into credit_card_user (optimistic, user_name, phone_no,
        business_code, parent_business_code, status,
        create_time, last_update_time)
        values (0, #{userName,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR},
        #{businessCode,jdbcType=VARCHAR}, #{parentBusinessCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.pay.national.agent.model.entity.CreditCardUser" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into credit_card_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="optimistic != null" >
                optimistic,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="phoneNo != null" >
                phone_no,
            </if>
            <if test="businessCode != null" >
                business_code,
            </if>
            <if test="parentBusinessCode != null" >
                parent_business_code,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="lastUpdateTime != null" >
                last_update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="optimistic != null" >
                0,
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="phoneNo != null" >
                #{phoneNo,jdbcType=VARCHAR},
            </if>
            <if test="businessCode != null" >
                #{businessCode,jdbcType=VARCHAR},
            </if>
            <if test="parentBusinessCode != null" >
                #{parentBusinessCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null" >
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.pay.national.agent.model.entity.CreditCardUser" >
        update credit_card_user
        <set >
            <if test="optimistic != null" >
                optimistic = optimistic + 1,
            </if>
            <if test="userName != null" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="phoneNo != null" >
                phone_no = #{phoneNo,jdbcType=VARCHAR},
            </if>
            <if test="businessCode != null" >
                business_code = #{businessCode,jdbcType=VARCHAR},
            </if>
            <if test="parentBusinessCode != null" >
                parent_business_code = #{parentBusinessCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null" >
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pay.national.agent.model.entity.CreditCardUser" >
        update credit_card_user
        set optimistic = optimistic + 1,
        user_name = #{userName,jdbcType=VARCHAR},
        phone_no = #{phoneNo,jdbcType=VARCHAR},
        business_code = #{businessCode,jdbcType=VARCHAR},
        parent_business_code = #{parentBusinessCode,jdbcType=VARCHAR},
        status = #{status,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>