<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.portal.dao.common.PushMessageMapper" >
  <resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.PushMessage" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="OPTIMISTIC" property="optimistic" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="CLIENT_TYPE" property="clientType" jdbcType="VARCHAR" />
    <result column="DEVICE_TOKEN" property="DEVICE_TOKEN" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="JUMP_TYPE" property="jumpType" jdbcType="VARCHAR" />
    <result column="H5_URL" property="h5Url" jdbcType="VARCHAR" />
    <result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR" />
    <result column="MODEL" property="model" jdbcType="VARCHAR" />
    <result column="PROPERTIES" property="properties" jdbcType="VARCHAR" />
    <result column="VALS" property="vals" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OPTIMISTIC, USER_NAME,CONTENT,CLIENT_TYPE,DEVICE_TOKEN,STATUS, JUMP_TYPE, H5_URL, LINK_URL, 
    MODEL, PROPERTIES, VALS, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from push_message
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from push_message
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pay.national.agent.model.entity.PushMessage" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into push_message (USER_NAME, CONTENT, 
      CLIENT_TYPE,DEVICE_TOKEN, STATUS, JUMP_TYPE, 
      H5_URL, LINK_URL, MODEL, PROPERTIES,VALS,CREATE_TIME)
    values (#{userName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{clientType,jdbcType=VARCHAR},#{deviceToken,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{jumpType,jdbcType=VARCHAR}, #{h5Url,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{properties,jdbcType=VARCHAR}, #{vals,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pay.national.agent.model.entity.PushMessage" >
    update push_message
    set OPTIMISTIC = OPTIMISTIC +1 ,
      USER_NAME = #{userName,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      CLIENT_TYPE = #{clientType,jdbcType=VARCHAR},
      DEVICE_TOKEN = #{deviceToken,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      JUMP_TYPE = #{jumpType,jdbcType=VARCHAR},
      H5_URL = #{h5Url,jdbcType=VARCHAR},
      LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      MODEL = #{model,jdbcType=VARCHAR},
      PROPERTIES = #{properties,jdbcType=VARCHAR},
      VALS = #{vals,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>