<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.core.dao.common.AppFeedbackMapper" >
	<resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.AppFeedback">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="is_read" property="isRead" jdbcType="VARCHAR" />
		<result column="operator" property="operator" jdbcType="VARCHAR" />
		<result column="client_type" property="clientType" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="operator_time" property="operatorTime" jdbcType="TIMESTAMP" />
		<result column="return_type" property="returnType" jdbcType="VARCHAR" />
	</resultMap>
	<insert id="insert" parameterType="com.pay.national.agent.model.entity.AppFeedback">
		insert into app_feedback (id, phone, status, content,
								  is_read, operator, create_time, client_type)
		values
			(#{id,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
			 #{status,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},
			 #{isRead,jdbcType=VARCHAR},#{operator,jdbcType=VARCHAR},
			 #{createTime,jdbcType=TIMESTAMP},#{clientType,jdbcType=VARCHAR}
    		)
	</insert>
	<select id="findAppFeedbackByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
		select client_type
		from app_feedback
		where phone = #{phone,jdbcType=VARCHAR}
		order by create_time desc
	</select>
</mapper>
