<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.core.dao.common.AppMessageInfoMapper">
	<resultMap id="AllResultMap" type="com.pay.national.agent.model.entity.AppMessageInfo">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="OPTIMISTIC" property="optimistic" jdbcType="INTEGER" />
		<result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
		<result column="MSG_TYPE" property="msgType" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="TITLE" property="title" jdbcType="VARCHAR" />
		<result column="CONTENT" property="content" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="IS_READ" property="isRead" jdbcType="VARCHAR" />
		<result column="ABLE_STATUS" property="ableStatus" jdbcType="VARCHAR" />
		<result column="BRIEF_CONTENT" property="briefContent" jdbcType="VARCHAR" />
		<result column="IS_POP" property="isPop" jdbcType="BIT" />
		<result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
		<result column="PUSH_ID" property="pushId" jdbcType="INTEGER" />
		<result column="BEGIN_TIME" property="beginTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap type="com.pay.national.agent.model.beans.results.AppMessageListBean" id="messageListMap">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="MSG_TYPE" property="msgType" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="TITLE" property="title" jdbcType="VARCHAR" />
		<result column="BRIEF_CONTENT" property="briefContent"
			jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="IS_READ" property="isRead" jdbcType="VARCHAR" />
		<result column="ABLE_STATUS" property="ableStatus" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, OPTIMISTIC, OPERATOR, MSG_TYPE, CREATE_TIME, TITLE,
		CONTENT, USER_NAME, IS_READ,
		ABLE_STATUS, BRIEF_CONTENT, IS_POP,
		LAST_UPDATE_TIME,END_TIME,PUSH_ID,BEGIN_TIME
	</sql>

	<select id="findAllMessageInfo" resultMap="messageListMap">
		select
		ID,MSG_TYPE,CREATE_TIME,TITLE,BRIEF_CONTENT,USER_NAME,IS_READ,ABLE_STATUS
		from app_message_info
		where 1 = 1
		<if test="queryBean.userName != null and queryBean.userName != ''">
			and USER_NAME = #{queryBean.userName,jdbcType=VARCHAR}
		</if>
		<if test="queryBean.isRead != null and queryBean.isRead != ''">
			and IS_READ = #{queryBean.isRead,jdbcType=VARCHAR}
		</if>
		<if test="queryBean.msgType != null and queryBean.msgType != ''">
			and MSG_TYPE = #{queryBean.msgType,jdbcType=VARCHAR}
		</if>
		and ABLE_STATUS = 'ENABLE'
		order by CREATE_TIME desc
	</select>

	<select id="unReadCount" resultType="java.lang.Integer">
		select count(IS_READ)
		from
		app_message_info
		where IS_READ='N'
		and USER_NAME = #{userName,jdbcType=VARCHAR}
		and ABLE_STATUS = 'ENABLE'
	</select>

	<select id="selectByPrimaryKey" resultMap="AllResultMap">
		select
		<include refid="Base_Column_List" />
		from app_message_info
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<select id="findPopMessages" resultMap="AllResultMap">
		select
		<include refid="Base_Column_List" />
		from app_message_info
		where USER_NAME = #{userName,jdbcType=VARCHAR}
		and ABLE_STATUS = 'ENABLE'
		and IS_POP = 1
		and IS_READ = 'N'
	</select>
	
	<update id="updateIsRead">
	 	update app_message_info set is_read = 'Y' ,LAST_UPDATE_TIME = <![CDATA[ sysdate() ]]>,OPTIMISTIC = OPTIMISTIC + 1 
		where ID = #{id,jdbcType=VARCHAR}
		and USER_NAME = #{userName,jdbcType=VARCHAR}
	 </update>
	 
	 <update id="updateStatus">
	 	update app_message_info set ABLE_STATUS = #{status,jdbcType=VARCHAR},OPTIMISTIC = OPTIMISTIC + 1 
	 	where ID = #{messageId,jdbcType=VARCHAR}
	 </update>
	 
	 <insert id="insert" parameterType="com.pay.national.agent.model.entity.AppMessageInfo">
	 	insert into app_message_info
	 		(ID, OPERATOR, MSG_TYPE, CREATE_TIME, TITLE,CONTENT, USER_NAME,
	 		 IS_READ, ABLE_STATUS, BRIEF_CONTENT,IS_POP,
	 		 LAST_UPDATE_TIME,END_TIME)
		values
			(#{id,jdbcType=VARCHAR},#{operator,jdbcType=VARCHAR},#{msgType,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP},
			#{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},
			#{isRead,jdbcType=VARCHAR},#{ableStatus,jdbcType=VARCHAR},#{briefContent,jdbcType=VARCHAR},
			#{isPop,jdbcType=BIT},#{lastUpdateTime,jdbcType=TIMESTAMP},
			#{endTime,jdbcType=TIMESTAMP})
	 </insert>
</mapper>