<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.core.dao.common.AppVersionInfoMapper" >
	<resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.AppVersionInfo">
		<!--<id column="ID" property="id" jdbcType="VARCHAR" />-->
		<result column="versionNo" property="versionNo" jdbcType="VARCHAR" />
		<result column="minAppVersion" property="minAppVersion" jdbcType="VARCHAR" />
		<result column="minOsVersion" property="minOsVersion" jdbcType="VARCHAR" />
		<result column="appDownloadUrl" property="appDownloadUrl" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="appSize" property="appSize" jdbcType="VARCHAR" />

		<result column="operSys" property="operSys" jdbcType="VARCHAR" />
		<result column="appStatus" property="appStatus" jdbcType="VARCHAR" />
		<result column="appType" property="appType" jdbcType="VARCHAR" />

		<result column="downloadNum" property="downloadNum" jdbcType="INTEGER" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="changeTime" property="changeTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<select id="getNewestVersion" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from AppVersionInfo
		where operSys = #{operSys,jdbcType=VARCHAR}
		and appStatus = 'ACTIVE'
		and appType = 'YOUMENG'
		order by create_time desc
	</select>
</mapper>
