<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.core.dao.common.OrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.Organization" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="optimistic" property="optimistic" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="is_leaf" property="isLeaf" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, optimistic, code, name, parent_code, is_leaf, status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from organization
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from organization
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pay.national.agent.model.entity.Organization" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into organization (optimistic, code, name, 
      parent_code, is_leaf, status, 
      remark)
    values (0, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{parentCode,jdbcType=VARCHAR}, #{isLeaf,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{remark,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pay.national.agent.model.entity.Organization" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="optimistic != null" >
        optimistic,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentCode != null" >
        parent_code,
      </if>
      <if test="isLeaf != null" >
        is_leaf,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="optimistic != null" >
        0,
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null" >
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null" >
        #{isLeaf,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pay.national.agent.model.entity.Organization" >
    update organization
    <set >
      <if test="optimistic != null" >
        optimistic = optimistic+1,
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null" >
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null" >
        is_leaf = #{isLeaf,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pay.national.agent.model.entity.Organization" >
    update organization
    set optimistic = optimistic +1,
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      is_leaf = #{isLeaf,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="allProvinces" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM organization
    WHERE parent_code in('1','2','3','4','5','6')
    ORDER BY parent_code,code
  </select>

  <select id="allChildOrganizations" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM organization
    WHERE parent_code = #{parentCode,jdbcType=VARCHAR}
    ORDER BY code
  </select>
</mapper>