<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.core.dao.common.RemitResultMapper" >
  <resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.RemitResult" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="OPTIMISTIC" property="optimistic" jdbcType="INTEGER" />
    <result column="REMIT_REQUEST_ID" property="remitRequestId" jdbcType="VARCHAR" />
    <result column="REMIT_PAYMENT_ID" property="remitPaymentId" jdbcType="VARCHAR" />
    <result column="REMIT_STATUS" property="remitStatus" jdbcType="VARCHAR" />
    <result column="PROCESS_STATUS" property="processStatus" jdbcType="VARCHAR" />
    <result column="PROCESS_TIME" property="processTime" jdbcType="TIMESTAMP" />
    <result column="PAYMENT_OLD_STATUS" property="paymentOldStatus" jdbcType="VARCHAR" />
    <result column="PAYMENT_NEW_STATUS" property="paymentNewStatus" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CHANGE_TIME" property="changeTime" jdbcType="TIMESTAMP" />
    <result column="LAST_UPDATE_TIME" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OPTIMISTIC, REMIT_REQUEST_ID, REMIT_PAYMENT_ID, REMIT_STATUS, PROCESS_STATUS, 
    PROCESS_TIME, PAYMENT_OLD_STATUS, PAYMENT_NEW_STATUS, REMARK, CREATE_TIME, CHANGE_TIME, 
    LAST_UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from remit_result
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from remit_result
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pay.national.agent.model.entity.RemitResult" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into remit_result (REMIT_REQUEST_ID, REMIT_PAYMENT_ID, 
      REMIT_STATUS, PROCESS_STATUS, PROCESS_TIME, 
      PAYMENT_OLD_STATUS, PAYMENT_NEW_STATUS, REMARK, 
      CREATE_TIME, CHANGE_TIME, LAST_UPDATE_TIME
      )
    values (#{remitRequestId,jdbcType=VARCHAR}, #{remitPaymentId,jdbcType=VARCHAR}, 
      #{remitStatus,jdbcType=VARCHAR}, #{processStatus,jdbcType=VARCHAR}, #{processTime,jdbcType=TIMESTAMP}, 
      #{paymentOldStatus,jdbcType=VARCHAR}, #{paymentNewStatus,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{changeTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pay.national.agent.model.entity.RemitResult" >
    update remit_result
    set OPTIMISTIC = OPTIMISTIC + 1,
      REMIT_REQUEST_ID = #{remitRequestId,jdbcType=VARCHAR},
      REMIT_PAYMENT_ID = #{remitPaymentId,jdbcType=VARCHAR},
      REMIT_STATUS = #{remitStatus,jdbcType=VARCHAR},
      PROCESS_STATUS = #{processStatus,jdbcType=VARCHAR},
      PROCESS_TIME = #{processTime,jdbcType=TIMESTAMP},
      PAYMENT_OLD_STATUS = #{paymentOldStatus,jdbcType=VARCHAR},
      PAYMENT_NEW_STATUS = #{paymentNewStatus,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CHANGE_TIME = #{changeTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_TIME = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>