<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.core.dao.common.RewardGatherMapper" >
  <resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.RewardGather" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="OPTIMISTIC" property="optimistic" jdbcType="INTEGER" />
    <result column="USER_NO" property="userNo" jdbcType="VARCHAR" />
    <result column="BUSINESS_CODE" property="businessCode" jdbcType="VARCHAR" />
    <result column="CHILD_BUSINESS_CODE" property="childBusinessCode" jdbcType="VARCHAR" />
    <result column="REWARD_AMOUNT_TOTAL" property="rewardAmountTotal" jdbcType="DOUBLE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OPTIMISTIC, USER_NO, BUSINESS_CODE, CHILD_BUSINESS_CODE, REWARD_AMOUNT_TOTAL, 
    CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from reward_gather
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reward_gather
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pay.national.agent.model.entity.RewardGather" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reward_gather (USER_NO, BUSINESS_CODE, 
      CHILD_BUSINESS_CODE, REWARD_AMOUNT_TOTAL, CREATE_TIME
      )
    values (#{userNo,jdbcType=VARCHAR}, #{businessCode,jdbcType=VARCHAR}, 
      #{childBusinessCode,jdbcType=VARCHAR}, #{rewardAmountTotal,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pay.national.agent.model.entity.RewardGather" >
    update reward_gather
    set OPTIMISTIC = OPTIMISTIC + 1,
      USER_NO = #{userNo,jdbcType=VARCHAR},
      BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR},
      CHILD_BUSINESS_CODE = #{childBusinessCode,jdbcType=VARCHAR},
      REWARD_AMOUNT_TOTAL = #{rewardAmountTotal,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByBusiness" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from reward_gather
  	where USER_NO = #{userNo,jdbcType=VARCHAR}
  	<if test="businessCode != null and businessCode != ''">
  	and BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR} 
  	</if>
  	<if test="childBusinessCode != null and childBusinessCode != ''">
  	and CHILD_BUSINESS_CODE = #{childBusinessCode,jdbcType=VARCHAR}
  	</if>
  </select>
</mapper>