<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.core.dao.common.RewardRecordMapper" >
  <resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.RewardRecord" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="OPTIMISTIC" property="optimistic" jdbcType="INTEGER" />
    <result column="BUSINESS_CODE" property="businessCode" jdbcType="VARCHAR" />
    <result column="CHILD_BUSINESS_CODE" property="childBusinessCode" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="SYSTEM_FLOW_ID" property="systemFlowId" jdbcType="VARCHAR" />
    <result column="USER_NO" property="userNo" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="REWARD_AMOUNT" property="rewardAmount" jdbcType="DOUBLE" />
    <result column="REWARD_STATUS" property="rewardStatus" jdbcType="VARCHAR" />
    <result column="REWARD_TIME" property="rewardTime" jdbcType="TIMESTAMP" />
    <result column="ERROR_CODE" property="errorCode" jdbcType="VARCHAR" />
    <result column="ERROR_MSG" property="errorMsg" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="RULE_ID" property="ruleId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OPTIMISTIC, BUSINESS_CODE, CHILD_BUSINESS_CODE, ORDER_NO, SYSTEM_FLOW_ID, USER_NO, 
    STATUS, REWARD_AMOUNT, REWARD_STATUS, REWARD_TIME, ERROR_CODE, ERROR_MSG, CREATE_TIME,RULE_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from reward_record
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reward_record
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pay.national.agent.model.entity.RewardRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reward_record (BUSINESS_CODE, CHILD_BUSINESS_CODE, 
      ORDER_NO, SYSTEM_FLOW_ID, USER_NO, 
      STATUS, REWARD_AMOUNT, REWARD_STATUS, 
      REWARD_TIME, ERROR_CODE, ERROR_MSG, 
      CREATE_TIME,RULE_ID)
    values (#{businessCode,jdbcType=VARCHAR}, #{childBusinessCode,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{systemFlowId,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{rewardAmount,jdbcType=DOUBLE}, #{rewardStatus,jdbcType=VARCHAR}, 
      #{rewardTime,jdbcType=TIMESTAMP}, #{errorCode,jdbcType=VARCHAR}, #{errorMsg,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP},#{ruleId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pay.national.agent.model.entity.RewardRecord" >
    update reward_record
    set OPTIMISTIC = OPTIMISTIC + 1,
      BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR},
      CHILD_BUSINESS_CODE = #{childBusinessCode,jdbcType=VARCHAR},
      ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      SYSTEM_FLOW_ID = #{systemFlowId,jdbcType=VARCHAR},
      USER_NO = #{userNo,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      REWARD_AMOUNT = #{rewardAmount,jdbcType=DOUBLE},
      REWARD_STATUS = #{rewardStatus,jdbcType=VARCHAR},
      REWARD_TIME = #{rewardTime,jdbcType=TIMESTAMP},
      ERROR_CODE = #{errorCode,jdbcType=VARCHAR},
      ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      RULE_ID = #{ruleId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getRewardRecord" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/>
  	from reward_record
  	where  USER_NO = #{userNo,jdbcType=VARCHAR}
  	and ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  	and RULE_ID = #{ruleId,jdbcType=INTEGER}
  </select>
</mapper>