<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.core.dao.common.RewardGatherMonthMapper" >
  <resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.RewardGatherMonth" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="optimistic" property="optimistic" jdbcType="INTEGER" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="business_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="parent_business_code" property="parentBusinessCode" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DOUBLE" />
    <result column="month" property="month" jdbcType="DATE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="GatherMap" type="com.pay.national.agent.core.bean.result.MonthRewardGatherBean">
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="month1" property="month" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, optimistic, user_no, business_code, parent_business_code, total_amount, month, 
    create_time, last_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from reward_gather_month
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from reward_gather_month
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pay.national.agent.model.entity.RewardGatherMonth" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reward_gather_month (optimistic, user_no, business_code, 
      parent_business_code, total_amount, month, 
      create_time, last_update_time)
    values (0,#{userNo,jdbcType=VARCHAR}, #{businessCode,jdbcType=VARCHAR},
      #{parentBusinessCode,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DOUBLE}, #{month,jdbcType=DATE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pay.national.agent.model.entity.RewardGatherMonth" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reward_gather_month
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="optimistic != null" >
        optimistic,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="businessCode != null" >
        business_code,
      </if>
      <if test="parentBusinessCode != null" >
        parent_business_code,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="optimistic != null" >
        0,
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="parentBusinessCode != null" >
        #{parentBusinessCode,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="month != null" >
        #{month,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pay.national.agent.model.entity.RewardGatherMonth" >
    update reward_gather_month
    <set >
      <if test="optimistic != null" >
        optimistic = optimistic +1,
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        business_code = #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="parentBusinessCode != null" >
        parent_business_code = #{parentBusinessCode,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pay.national.agent.model.entity.RewardGatherMonth" >
    update reward_gather_month
    set optimistic = optimistic+1,
      user_no = #{userNo,jdbcType=VARCHAR},
      business_code = #{businessCode,jdbcType=VARCHAR},
      parent_business_code = #{parentBusinessCode,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DOUBLE},
      month = #{month,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="group1" resultMap="GatherMap">
    SELECT user_no,DATE_FORMAT(`month`,'%Y-%m-%d') as 'month1',sum(total_amount) as amount
    FROM reward_gather_month
    GROUP  BY user_no,`month`
    HAVING user_no = #{userNo,jdbcType=VARCHAR}
    <if test="startDate != null">
      AND `month` <![CDATA[>=]]> #{startDate,jdbcType=DATE}
    </if>
    <if test="endDate != null">
      AND `month` <![CDATA[<=]]> #{endDate,jdbcType=DATE}
    </if>
    ORDER  BY `month` DESC
   </select>

  <select id="group2" resultMap="GatherMap">
    SELECT user_no,DATE_FORMAT(`month`,'%Y-%m-%d') as 'month1',sum(total_amount) as amount
    FROM reward_gather_month
    GROUP  BY user_no,`month`,parent_business_code
    HAVING user_no = #{userNo,jdbcType=VARCHAR}
    AND parent_business_code = #{parentBusinessCode,jdbcType=VARCHAR}
    <if test="startDate != null">
      AND `month` <![CDATA[>=]]> #{startDate,jdbcType=DATE}
    </if>
    <if test="endDate != null">
      AND `month` <![CDATA[<=]]> #{endDate,jdbcType=DATE}
    </if>
    ORDER  BY `month` DESC
  </select>

  <select id="selectByMonth" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM reward_gather_month
    WHERE 1=1
    <if test="userNo != null and userNo != ''">
      AND user_no = #{userNo,jdbcType=VARCHAR}
    </if>
    AND month = #{month,jdbcType=DATE}
    AND business_code = #{businessCode,jdbcType=VARCHAR}
  </select>
</mapper>