<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.core.dao.common.RewardGatherDayMapper" >
  <resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.RewardGatherDay" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="OPTIMISTIC" property="optimistic" jdbcType="INTEGER" />
    <result column="USER_NO" property="userNo" jdbcType="VARCHAR" />
    <result column="BUSINESS_CODE" property="businessCode" jdbcType="VARCHAR" />
    <result column="CHILD_BUSINESS_CODE" property="childBusinessCode" jdbcType="VARCHAR" />
    <result column="REWARD_AMOUNT_TOTAL" property="rewardAmountTotal" jdbcType="DOUBLE" />
    <result column="REWARD_DATE" property="rewardDate" jdbcType="DATE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap type="com.pay.national.agent.model.beans.results.RewardMonthResultBean" id="rewardMonthBean">
  	 <result column="MONTH" property="month" jdbcType="VARCHAR" />
     <result column="AMOUNT_OF_MONTH" property="amountOfMonth" jdbcType="DOUBLE" />
     <result column="BUSINESS_CODE" property="businessCode" jdbcType="VARCHAR" />
     <result column="USER_NO" property="userNo" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="com.pay.national.agent.model.beans.results.RewardDayResultBean" id="rewardDayBean">
     	<result column="DAY" property="day" jdbcType="VARCHAR" />
     	<result column="USER_NO" property="userNo" jdbcType="VARCHAR" />
     	<result column="AMOUNT_OF_DAY" property="amountOfDay" jdbcType="DOUBLE" />
     	<result column="BUSINESS_CODE" property="businessCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OPTIMISTIC, USER_NO, BUSINESS_CODE, CHILD_BUSINESS_CODE, REWARD_AMOUNT_TOTAL, 
    REWARD_DATE, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from reward_gather_day
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reward_gather_day
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pay.national.agent.model.entity.RewardGatherDay" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reward_gather_day (USER_NO, BUSINESS_CODE, 
      CHILD_BUSINESS_CODE, REWARD_AMOUNT_TOTAL, REWARD_DATE, 
      CREATE_TIME)
    values (#{userNo,jdbcType=VARCHAR}, #{businessCode,jdbcType=VARCHAR}, 
      #{childBusinessCode,jdbcType=VARCHAR}, #{rewardAmountTotal,jdbcType=DOUBLE}, #{rewardDate,jdbcType=DATE}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pay.national.agent.model.entity.RewardGatherDay" >
    update reward_gather_day
    set OPTIMISTIC = OPTIMISTIC + 1,
      USER_NO = #{userNo,jdbcType=VARCHAR},
      BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR},
      CHILD_BUSINESS_CODE = #{childBusinessCode,jdbcType=VARCHAR},
      REWARD_AMOUNT_TOTAL = #{rewardAmountTotal,jdbcType=DOUBLE},
      REWARD_DATE = #{rewardDate,jdbcType=DATE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="rewardSummaryMonth" resultMap="rewardMonthBean">
  	select  USER_NO,sum(REWARD_AMOUNT_TOTAL) AMOUNT_OF_MONTH, BUSINESS_CODE,DATE_FORMAT(REWARD_DATE,'%Y-%m') MONTH
	from reward_gather_day 
	group by USER_NO,MONTH,BUSINESS_CODE
	having USER_NO = #{userNo,jdbcType=VARCHAR} 
	and BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR}
	order by REWARD_DATE desc;
  </select>
  
  <select id="rewardSummaryMonth2" resultMap="rewardMonthBean">
  	select  USER_NO,sum(REWARD_AMOUNT_TOTAL) AMOUNT_OF_MONTH,DATE_FORMAT(REWARD_DATE,'%Y-%m') MONTH
	from reward_gather_day 
	group by USER_NO,MONTH
	having USER_NO = #{userNo,jdbcType=VARCHAR} 
	order by REWARD_DATE desc;
  </select>
  
  <select id="rewardSummaryDay" resultMap="rewardDayBean">
  	select USER_NO, sum(reward_amount_total) AMOUNT_OF_DAY,BUSINESS_CODE,DATE_FORMAT(REWARD_DATE,'%Y-%m-%d') DAY
	from reward_gather_day 
	group by USER_NO,REWARD_DATE,BUSINESS_CODE
	HAVING  USER_NO = #{userNo,jdbcType=VARCHAR}
	AND BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR}
	AND reward_date <![CDATA[>=]]> #{startDate,jdbcType=VARCHAR}
	AND reward_date <![CDATA[<=]]> #{endDate,jdbcType=VARCHAR}
	order by reward_date;
  </select>
  
  <select id="rewardSummaryDay2" resultMap="rewardDayBean">
  	select USER_NO, sum(reward_amount_total) AMOUNT_OF_DAY,DATE_FORMAT(REWARD_DATE,'%Y-%m-%d') DAY
	from reward_gather_day 
	group by USER_NO,REWARD_DATE
	HAVING  USER_NO = #{userNo,jdbcType=VARCHAR}
	AND reward_date <![CDATA[>=]]> #{startDate,jdbcType=VARCHAR}
	AND reward_date <![CDATA[<=]]> #{endDate,jdbcType=VARCHAR}
	order by reward_date;
  </select>
  
  
  <insert id="gather" parameterType="java.lang.String">
  	insert into reward_gather_day(USER_NO,BUSINESS_CODE,CHILD_BUSINESS_CODE,REWARD_AMOUNT_TOTAL,REWARD_DATE,CREATE_TIME)
	select rr.USER_NO,rr.BUSINESS_CODE,rr.CHILD_BUSINESS_CODE,SUM(rr.REWARD_AMOUNT),DATE_FORMAT(rr.REWARD_TIME,'%Y-%m-%d') days,SYSDATE()
	from reward_record rr
	group by rr.USER_NO,rr.BUSINESS_CODE,rr.CHILD_BUSINESS_CODE,rr.REWARD_STATUS,days
	having rr.REWARD_STATUS = 'SUCCESS' and days = #{day};
  </insert>
  
  <select id="selectByDate" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> 
  	from reward_gather_day
  	where DATE_FORMAT(REWARD_DATE,'%Y-%m-%d') = #{day}
  </select>
</mapper>