<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.core.dao.common.RewardGatherDayMapper" >
  <resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.RewardGatherDay" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="optimistic" property="optimistic" jdbcType="INTEGER" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="business_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="parent_business_code" property="parentBusinessCode" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DOUBLE" />
    <result column="day" property="day" jdbcType="DATE" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="GatherMap" type="com.pay.national.agent.core.bean.result.DayRewardGatherBean">
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="day1" property="day" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, optimistic, user_no, business_code, parent_business_code, total_amount, day, 
    create_time, last_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from reward_gather_day
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from reward_gather_day
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pay.national.agent.model.entity.RewardGatherDay" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reward_gather_day (optimistic, user_no, business_code, 
      parent_business_code, total_amount, day, 
      create_time, last_update_time)
    values (0, #{userNo,jdbcType=VARCHAR}, #{businessCode,jdbcType=VARCHAR},
      #{parentBusinessCode,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DOUBLE}, #{day,jdbcType=DATE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pay.national.agent.model.entity.RewardGatherDay" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reward_gather_day
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="optimistic != null" >
        optimistic,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="businessCode != null" >
        business_code,
      </if>
      <if test="parentBusinessCode != null" >
        parent_business_code,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="optimistic != null" >
        0,
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="parentBusinessCode != null" >
        #{parentBusinessCode,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="day != null" >
        #{day,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pay.national.agent.model.entity.RewardGatherDay" >
    update reward_gather_day
    <set >
      <if test="optimistic != null" >
        optimistic = optimistic + 1,
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        business_code = #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="parentBusinessCode != null" >
        parent_business_code = #{parentBusinessCode,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=DATE},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pay.national.agent.model.entity.RewardGatherDay" >
    update reward_gather_day
    set optimistic = optimistic +1,
      user_no = #{userNo,jdbcType=VARCHAR},
      business_code = #{businessCode,jdbcType=VARCHAR},
      parent_business_code = #{parentBusinessCode,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DOUBLE},
      day = #{day,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="group1" resultMap="GatherMap">
    SELECT DATE_FORMAT(`day`,'%m-%d') as day1,sum(total_amount) as amount
    FROM reward_gather_day
    GROUP BY user_no,`day`
    HAVING user_no = #{userNo,jdbcType=VARCHAR}
    <if test="startDate != null">
      AND `day` <![CDATA[>=]]> #{startDate,jdbcType=DATE}
    </if>
    <if test="endDate != null">
      AND `day` <![CDATA[<=]]> #{endDate,jdbcType=DATE}
    </if>
    ORDER BY `day`
  </select>

  <select id="group2" resultMap="GatherMap">
    SELECT DATE_FORMAT(`day`,'%m-%d') as day1,sum(total_amount) as amount
    FROM reward_gather_day
    GROUP BY user_no,`day`,parent_business_code
    HAVING user_no = #{userNo,jdbcType=VARCHAR}
    AND parent_business_code = #{parentBusinessCode,jdbcType=VARCHAR}
    <if test="startDate != null">
      AND `day` <![CDATA[>=]]> #{startDate,jdbcType=DATE}
    </if>
    <if test="endDate != null">
      AND `day` <![CDATA[<=]]> #{endDate,jdbcType=DATE}
    </if>
    ORDER BY `day`
  </select>

  <insert id="summary">
    INSERT INTO reward_gather_day(user_no,business_code,parent_business_code,total_amount,day,create_time)
    SELECT user_no,business_code,parent_business_code,SUM(amount),DATE_ADD(SYSDATE(),INTERVAL -1 day),SYSDATE()
    FROM (
    SELECT user_no,business_code,parent_business_code,amount
    FROM reward_record
    WHERE 1=1
    <if test="userNo != null and userNo != ''">
      AND user_no = #{userNo,jdbcType=VARCHAR}
    </if>
    AND status = 'SUCCESS'
    AND reward_time <![CDATA[>=]]> #{startDate,jdbcType=VARCHAR}
    AND reward_time <![CDATA[<=]]> #{endDate,jdbcType=VARCHAR}
    ) tmp
    GROUP BY user_no,parent_business_code,business_code;
  </insert>

  <select id="selectByRewardDay" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM reward_gather_day
    WHERE 1=1
    <if test="userNo != null and userNo != ''">
      AND user_no = #{userNo,jdbcType=VARCHAR}
    </if>
    AND day = #{day,jdbcType=DATE}
  </select>
</mapper>