<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.national.agent.core.dao.common.UserLoginLogMapper" >
  <resultMap id="BaseResultMap" type="com.pay.national.agent.model.entity.UserLoginLog" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="OPTIMISTIC" property="optimistic" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_NO" property="userNo" jdbcType="VARCHAR" />
    <result column="LOGIN_KEY" property="loginKey" jdbcType="VARCHAR" />
    <result column="DEVICE_NO" property="deviceNo" jdbcType="VARCHAR" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="COORDINATE" property="coordinate" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="OS_TYPE" property="osType" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, OPTIMISTIC, USER_NAME, USER_NO, LOGIN_KEY, DEVICE_NO, DEVICE_TYPE, IP, COORDINATE, 
    CREATE_TIME, STATUS, OS_TYPE, VERSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_login_log
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_login_log
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pay.national.agent.model.entity.UserLoginLog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_login_log (OPTIMISTIC, USER_NAME, USER_NO, 
      LOGIN_KEY, DEVICE_NO, DEVICE_TYPE, 
      IP, COORDINATE, CREATE_TIME, 
      STATUS, OS_TYPE, VERSION
      )
    values (#{optimistic,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, 
      #{loginKey,jdbcType=VARCHAR}, #{deviceNo,jdbcType=VARCHAR}, #{deviceType,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{coordinate,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{osType,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pay.national.agent.model.entity.UserLoginLog" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_login_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="optimistic != null" >
        OPTIMISTIC,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userNo != null" >
        USER_NO,
      </if>
      <if test="loginKey != null" >
        LOGIN_KEY,
      </if>
      <if test="deviceNo != null" >
        DEVICE_NO,
      </if>
      <if test="deviceType != null" >
        DEVICE_TYPE,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="coordinate != null" >
        COORDINATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="osType != null" >
        OS_TYPE,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="optimistic != null" >
        #{optimistic,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="loginKey != null" >
        #{loginKey,jdbcType=VARCHAR},
      </if>
      <if test="deviceNo != null" >
        #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="coordinate != null" >
        #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="osType != null" >
        #{osType,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pay.national.agent.model.entity.UserLoginLog" >
    update user_login_log
    <set >
      <if test="optimistic != null" >
        OPTIMISTIC = #{optimistic,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        USER_NO = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="loginKey != null" >
        LOGIN_KEY = #{loginKey,jdbcType=VARCHAR},
      </if>
      <if test="deviceNo != null" >
        DEVICE_NO = #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        DEVICE_TYPE = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="coordinate != null" >
        COORDINATE = #{coordinate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="osType != null" >
        OS_TYPE = #{osType,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pay.national.agent.model.entity.UserLoginLog" >
    update user_login_log
    set OPTIMISTIC = #{optimistic,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_NO = #{userNo,jdbcType=VARCHAR},
      LOGIN_KEY = #{loginKey,jdbcType=VARCHAR},
      DEVICE_NO = #{deviceNo,jdbcType=VARCHAR},
      DEVICE_TYPE = #{deviceType,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      COORDINATE = #{coordinate,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      OS_TYPE = #{osType,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>